/* Base styles */
.board {
  height: 100vh;
}

.status {
  margin: 0 auto; /* Center headings */
  height: 30vh;
}

.option {
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

a {
    text-decoration: none;
    font-size: large;
}

.word {
  text-decoration: none;
  font-size: larger;
  height: 20vh;
}

div {
    width: 100%;
    text-align: center;
}

.default {
    color: black;
    text-decoration: none;
}

.wrong{
    color: red;
    text-decoration: line-through;
}

.correct{
    color: green;
    text-decoration: none;
}

.others{
    color: grey;
    text-decoration: none;
}
